Курс "Машинное обучение в бизнесе".

Практическое задание 1.

В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer


import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv("ml_dz1.csv")
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,No,Yes,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,No,No,No,One year,No,Bank transfer (automatic),56.15,3487.95,No

1. Какое соотношение мужчин и женщин в представленном наборе данных?

1 способ

In [3]:
df.loc[df['gender']=='Female', :]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,No,Mailed check,29.75,301.9,No
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7034,0639-TSIQW,Female,0,No,No,67,Yes,Yes,Fiber optic,Yes,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),102.95,6886.25,Yes
7036,7750-EYXWZ,Female,0,No,No,12,No,No phone service,DSL,No,...,Yes,Yes,Yes,Yes,One year,No,Electronic check,60.65,743.3,No
7037,2569-WGERO,Female,0,No,No,72,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),21.15,1419.4,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No

In [4]:
df.shape

(7043, 21)

 Мужчины 3555, женщины 3488 . Соотношение 1,019.

2 способ

In [5]:
df['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

2. Какое количество уникальных значений у поля InternetService?

In [6]:
df['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [7]:
df['InternetService'].nunique()

3

3. Выведите статистики по полю TotalCharges (median, mean, std)

In [8]:
df['TotalCharges'].median

<bound method Series.median of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>

In [9]:
df['TotalCharges'].mean

<bound method Series.mean of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>

In [10]:
df['TotalCharges'].std

<bound method Series.std of 0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object>

Странность полученных данных в идентичности значений, а также в типе данных - object. Колонка, описывающая общие расходы должна иметь тип int или float.

4. Сделайте замену значений поля PhoneService на числовые (Yes->1, No->0)

In [11]:
df.loc[df['PhoneService'] == 'Yes'] = 1

In [12]:
df.loc[df['PhoneService'] == 'No'] = 0

In [13]:
df['PhoneService'].value_counts()

1    6361
0     682
Name: PhoneService, dtype: int64

5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [14]:
df.loc[df['TotalCharges'] == ' '] = np.nan

In [15]:
df['TotalCharges'].dtypes

dtype('O')

In [16]:
 df['TotalCharges'] = df['TotalCharges'].astype(float)
    ## при приведении к типу float32 - ошибка "name 'float32' is not defined",поэтому привела к float

In [17]:
df['TotalCharges'].dtypes

dtype('float64')

6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [18]:
df.loc[df['Churn'] == 'Yes'] = 1

In [19]:
df.loc[df['Churn'] == 'No'] = 0

In [20]:
df['Churn'].value_counts()

1    6361
0     682
Name: Churn, dtype: int64

7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport на числовые (Yes -> 1, No -> 0, No internet service->0)

In [21]:
df.loc[df['StreamingMovies'] == 'Yes'] = 1
df.loc[df['StreamingMovies'] == 'No'] = 0

df.loc[df['StreamingTV'] == 'Yes'] = 1
df.loc[df['StreamingTV'] == 'No'] = 0

df.loc[df['TechSupport'] == 'Yes'] = 1
df.loc[df['TechSupport'] == 'No'] = 0

In [22]:
df['StreamingTV'].value_counts()

1    6361
0     682
Name: StreamingTV, dtype: int64

In [23]:
df['StreamingMovies'].value_counts()

1    6361
0     682
Name: StreamingMovies, dtype: int64

In [24]:
df['TechSupport'].value_counts()

1    6361
0     682
Name: TechSupport, dtype: int64

8. Заполните пропуски в поле PhoneService значением 0

In [25]:
df['PhoneService'] = df['PhoneService'].fillna(0)

Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

Оставить: 'gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn'

In [26]:
df1=df.drop('customerID', axis = 1)
df1=df.drop('SeniorCitizen', axis = 1)
df1=df.drop('Partner', axis = 1)
df1=df.drop('Dependents', axis = 1)
df1=df.drop('MultipleLines', axis = 1)
df1=df.drop('InternetService', axis = 1)
df1=df.drop('OnlineSecurity', axis = 1)
df1=df.drop('OnlineBackup', axis = 1)
df1=df.drop('DeviceProtection', axis = 1)
df1=df.drop('Contract', axis = 1)
df1=df.drop('PaperlessBilling', axis = 1)
df1=df.drop('PaymentMethod', axis = 1)
df1=df.drop('MonthlyCharges', axis = 1)

In [27]:
df1.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0
1,1,1,1.0,1,1,1.0,1,1,1,1,1,1,1,1,1,1,1,1,1.0,1
2,1,1,1.0,1,1,1.0,1,1,1,1,1,1,1,1,1,1,1,1,1.0,1

9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection.

In [28]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = ['Churn']

In [29]:
X = pd.DataFrame(df, columns =features )
X.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
0,0,0.0,0,0.0,0,0,0
1,1,1.0,1,1.0,1,1,1
2,1,1.0,1,1.0,1,1,1

In [30]:
Y = df ['Churn']
Y.head(3)

0    0
1    1
2    1
Name: Churn, dtype: object

In [31]:
X_train, X_test, y_train, y_test =  train_test_split(X,Y,test_size = 0.33, random_state =42)

10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [32]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.ht

In [33]:
gender.fit(X_train, y_train)

Pipeline(steps=[('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))])

In [34]:
gender.fit_transform(X)

      gender_0  gender_1
0            1         0
1            0         1
2            0         1
3            1         0
4            0         1
...        ...       ...
7038         0         1
7039         0         1
7040         1         0
7041         0         1
7042         0         1

[7043 rows x 2 columns]


12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [35]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

In [36]:
tenure.fit(X_train, y_train)

Pipeline(steps=[('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())])

In [37]:
tenure.fit_transform(X)

array([[-3.05401039],
       [ 0.32743831],
       [ 0.32743831],
       ...,
       [-3.05401039],
       [ 0.32743831],
       [ 0.32743831]])

13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [38]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

In [39]:
TotalCharges.fit_transform(X)

array([[-3.05401039],
       [ 0.32743831],
       [ 0.32743831],
       ...,
       [-3.05401039],
       [ 0.32743831],
       [ 0.32743831]])

In [40]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [41]:
number_features.fit_transform(X)

      PhoneService StreamingMovies StreamingTV TechSupport
0                0               0           0           0
1                1               1           1           1
2                1               1           1           1
3                0               0           0           0
4                1               1           1           1
...            ...             ...         ...         ...
7038             1               1           1           1
7039             1               1           1           1
7040             0               0           0           0
7041             1               1           1           1
7042             1               1           1           1

[7043 rows x 4 columns]

In [42]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

In [43]:
feats.fit_transform(X)

array([[-3.054010391622917, -3.054010391622917, 0, ..., 0, 1, 0],
       [0.3274383095561751, 0.3274383095561751, 1, ..., 1, 0, 1],
       [0.3274383095561751, 0.3274383095561751, 1, ..., 1, 0, 1],
       ...,
       [-3.054010391622917, -3.054010391622917, 0, ..., 0, 1, 0],
       [0.3274383095561751, 0.3274383095561751, 1, ..., 1, 0, 1],
       [0.3274383095561751, 0.3274383095561751, 1, ..., 1, 0, 1]],
      dtype=object)

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
y_test = y_test.astype(int)
y_train = y_train.astype(int)

In [48]:
pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов¶

In [49]:
pipeline.fit(X_test,y_test)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [ ]:
from sklearn.metrics import roc_auc_score, log_loss

Сохраним наш пайплайн

In [50]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)

ModuleNotFoundError: No module named 'dill'